body {
    background-color:#e4dcb0;
    margin: 0;
    padding: 0;
}

/*header content*/

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.hero_image {
    display: flex;
    background-image: url(../images/sky.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    height: 750px;
    width: 100%;
    
}

.hero-text {
    color: rgb(0, 0, 0);
    font-size: 80px;
    font-family:Verdana, Geneva, Tahoma, sans-serif
    font-weight bold;
    text-align: center;
    margin-top: -200px;
    
}   

.nav_stiil {
    display: flex;
    gap: 15px;
}
    

/*main content*/

main {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    }

.gif_text {
    font-size: 20px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-bottom: 10px;
}

.star {
    text-align: center;
    margin: 20px;
}

.teooria {
    text-align: center;
}

    

/*footer content*/ 

footer {
    background-color: #f46199;
    color: rgb(0, 0, 0);
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    margin-top: -30px;
    padding: 20px;
}

.picture {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.picture img {
    width: 125px;
    height: 125px;
    border-radius: 15%;
    padding: 10px;
}

.business_card {
    display: flex;
    width: 300px;
    height: 150px;
    margin: 10px;
    outline: 3px solid #e40057;
    background-image: url(../images/pink.jpg);
    background-size: cover;
    align-items: center;
}

.kontakt { 
    text-align: center;
}

.card_details {
    flex: 2;
    padding: 5px;
}

footer {
    display: flex;
    justify-content: center;
    padding: 5px;
}